/* Style for Portfolio */
h1 {
	margin-left: 20px;
	padding-top: 5px;
	font-family: "Berkshire swash";
	color: #3fad32;
	font-style: italic;
}
a {
	text-decoration: none;
}

.nav-bar {
	background-color: #68ff6a;
	height: 80px;
	margin-top: -22px;
	margin-left: -10px;
	margin-right: -10px;
	position: fixed;
	width: 100%;
}

.btn-div {
	text-align: right;
	margin-top: -50px;
	margin-right: 10px;
}

.content {
	padding-top: 50px;
}
.btn {
	padding-right: 20px;
}
.int-link {
	display: block;
	position: relative;
	visibility: hidden;
	top: -80px;
}

@media screen and (max-width: 720px) {
	.btn-div {
		text-align: left;
		margin-top: 0px;
	}
	.nav-bar {
		height: 120px;
	}
	.content {
		padding-top: 90px;
	}
	.btn {
		padding: 10px;
	}
	.int-link {
		top: -140px;
	}
}